<div class="content">
  <h2>Choose unit to convert to and unit to convert from</h2>
  <div class="control">
    <select class="unit-from" (change)="fromChangeHandler($event)" [(ngModel)]="selectedFrom">
      <option *ngFor="let unit of curCat.units" [value] = "unit">{{unit}}</option>
    </select>

    <button type="button" (click)="reverseClickEvent()">reverse</button>

    <select class="unit-to" (change)="toChangeHandler($event)" [(ngModel)]="selectedTo">
      <option *ngFor="let unit of curCat.units" [value] = "unit">{{unit}}</option>
    </select>
  </div>


  <p>Converting from {{selectedFrom}} to {{selectedTo}}</p>
</div>
