
.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  /* display: flex; */
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  justify-content: center;
}

.welcomeText {
  text-align: center;
  font-size: 2rem;
  margin: 10px;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {
  .welcomeText {
    text-align: center;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 575px) {
  .welcomeText {
    text-align: center;
    font-size: 1.0rem;
  }
}
